:root {
    --primary-color: #055a05;
    /* forest green */
    --secondary-color: #f4a261;
    /* warm sand */
    --accent1-color: #264653;
    /* dark slate blue */
    --accent2-color: #e9c46a;
    /* light golden yellow */
    --heading-font: "Times New Roman", Georgia, serif;
    --body-font: Arial, Helvetica, sans-serif;
    --header-font-color: #fff;
    --main-border: 1px solid black;
    --box-shadow: 0 0 30px grey;
    --font-type: Roboto, Arial, sans-serif;

}

header {
    background-color: var(--primary-color);
    color: var(--accent2-color)
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    color: var(--accent1-color);
    font-family: var(--body-font);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.socialmedia a {
    color: var(--header-font-color);
    display: inline;
    padding: 10px;
    text-decoration: none;

}

nav,
p,
section,
article {
    margin: 16px;
    padding: 10px;
}

.socialmedia a img {
    text-decoration: none;
    width: 25px;
    height: auto;
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
    float: right;
}

h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
    /* enough contrast with background color */
}

h2 {
    background-color: var(--accent1-color);
    color: var(--header-font-color);
    text-align: center;
    padding: 8px;
}

.hero article {
    position: absolute;
    top: 120px;
    padding: 16px;
    opacity: 0.7;
    background-color: var(--accent1-color);
    color: #fff;
}

.hero article img {
    float: right;
    width: 125px;
}

p {
    margin: 2rem;
}

article img {
    width: var(--primary-image-width);
    height: auto;
    border: var(--main-border);
    padding: 2px;
    box-shadow: var(--box-shadow)
}