:root {
    --primary-color: darkblue;
    --main-border: 1px solid black;
    --box-shadow: 0 0 30px grey;
    --primary-image-width: 150px;
    --font-type: Roboto, Arial, sans-serif;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-size: 16px;
    font-family: Roboto, Arial, sans-serif;
}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 10px;

}

h1 {
    color: var(--primary-color);
    padding: .5rem;
}

img {
    width: var(--primary-image-width);
    height: auto;
    border: var(--main-border);
    padding: 2px;
    box-shadow: var(--box-shadow)
}

p {
    margin: 1rem;
}

/*main section */
main {
    max-width: 640px;
}

aside {
    position: relative;
    width: 20em;
    text-align: center;

}

aside img {
    width: 200px;
    height: auto;
}

aside h2 {
    position: absolute;
    top: 80px;
    left: 100px;
    color: bisque;
}

main img {
    width: var(--primary-image-width);
    height: auto;
    border: var(--main-border);
    padding: 2px;
    box-shadow: var(--box-shadow);
    float: right;
    margin: 0 0 1rem 1rem;

}

footer {
    margin-top: 15px;
    border-top: var(--main-border);
    text-align: center;

}

/* Class Selectors */
.box {
    margin: 1rem;
    border: 1px solid rgb(0 0 0 / 10%);
    padding: 1rem;
    background-color: #eee;
    color: #000;
}

.indent {
    padding-left: 2rem;
}